<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="element.css">
</head>
<body>
    {{>header}}                     {{!--    here we add our header --}}
    {{!-- we can use "patials" for those code  which are coming reptatily {{>file name i with extensention pug}} --}}

    <div class="container">
    <form action="/contactform" method="post">
        <center><h1>Payment form</h1></center>
        <hr>
        <center><h2>Contact Information</h2></center>

        <input type="text" name="name" id="name" placeholder="enter your name">
        <input type="text" name="age" id="age" placeholder="enter your age">
        <input type="text" name="gender" id="gender" placeholder="enter your gender">
        <button class="btn">submit</button>    
    </form>
    
    </div>
    
    {{>footer}}
</body>
</html>